@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,300");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic");

body {
	background-color: black;
	color: white;
	padding-top: 0px;
	margin: 0px;
	font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Raleway, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
}

#topper, #artistBio{
	background-color: #302f2f;
	margin-top: 0px;
	padding: .25em;
	width: 100vw;
	padding-left: 2em;
	margin-bottom: 5em;
}

#artistBio {
	margin-bottom: 1em;
	margin-top: 5em;
	padding-bottom: 2em;
}

#container {
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}

#pickCountry, #button {
	text-align: center;
}

#button {
	margin-top: 1em;
}

#countryInfo {
	padding-right: 20px;
}

.bioBody {
	margin-left: 2em;
}

@media screen and (max-width: 767px) {
  	#countryInfo {
		margin-left: 20px;
	}

	#top10 {
		text-align: center;
	}
 }